<%- include('components/header', {title: 'About', req: req}) %>

<div class="container-2">
    <div class="row">
        <div class="col-main">
            <p class="text-center-head">About E-Sports Online</p>
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur at ipsam minus, error, aliquid explicabo vero ratione ad accusantium hic culpa! Quam nisi a inventore officiis excepturi illum iure dolor! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, iure minus a temporibus assumenda distinctio molestiae id perferendis quis ipsum aperiam tenetur nulla recusandae nemo enim corporis cumque earum repudiandae! Lorem ipsum dolor sit amet consectetur adipisicing elit. A reiciendis ex nobis at molestias doloremque, porro sapiente tempora, animi fugit amet. Molestiae deserunt nobis ab porro sunt mollitia, laboriosam expedita. Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque tenetur doloribus, dolores, illo distinctio culpa dignissimos eos unde ipsa deleniti, magnam obcaecati sed recusandae iste nisi mollitia voluptatibus beatae expedita? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, voluptatibus iste perspiciatis at doloribus asperiores ratione ut assumenda, dolore quos beatae excepturi porro! Nisi alias cupiditate aliquid perspiciatis deleniti unde.</p>
        </div>
    </div>
</div>

<%- include('components/footer') %>