<%- include('components/header', {title: 'Home', req: req}) %>
<!-- E-Sports online home page -->
<div class="container">
   <div class="row">
    <div class="col-main-1">
        <center>
        <p class="text-center-head">Welcome to E-Sports Online</p>
        <p class="text-center">The best place to find all the latest news and information on the world of E-Sports</p>
        <p class="text-center">We have a wide range of articles and videos to keep you up to date with all the latest happenings in the world of E-Sports</p>
        <p class="text-center">So why not take a look around and see what we have to offer</p>
    </center>

    </div>
   </div>
</div>
<%- include('components/footer') %>