<%- include('components/header', {title: 'Our Team', req: req}) %>

<body>
    <div class="parent01-theteam">
        <div class="container01-theteam" >
            <center>
                <a href="mailto:josh@weblutions.com?subject=Contact Us!"><img class="img02" href="mailto:josh@weblutions.com" src="https://cdn.pribilovic.net/u/qtrXBQ.png"></a>
            </center>
            <p class="text01">Leo Tarred</p>
            <p class="text02"><u>Business Owner</u></p>
            <p class="text03">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada quam vitae eros dictum vestibulum. Maecenas ac augue ipsum. Pellentesque euismod blandit leo. Curabitur ut feugiat sapien. Proin feugiat, velit a interdum imperdiet, elit massa malesuada sapien, eget bibendum augue turpis nec dui. Nulla in ultrices enim, ac commodo velit. Nunc id justo id orci bibendum euismod.</p>
        </div>
        <div class="container01-theteam">
            <center>
                <a href="mailto:luca@weblutions.com?subject=Contact Us!"> <img class="img02" href="mailto:luca@weblutions.com" src="https://cdn.pribilovic.net/u/qtrXBQ.png"></a>
            </center>
            <p class="text01">Marion Money</p>
            <p class="text02"><u>Fullstack Developer</u></p>
            <p class="text03">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada quam vitae eros dictum vestibulum. Maecenas ac augue ipsum. Pellentesque euismod blandit leo. Curabitur ut feugiat sapien. Proin feugiat, velit a interdum imperdiet, elit massa malesuada sapien, eget bibendum augue turpis nec dui. Nulla in ultrices enim, ac commodo velit. Nunc id justo id orci bibendum euismod.</p>
        </div>
        <div class="container01-theteam">
            <center>
                <a href="mailto:luca@weblutions.com?subject=Contact Us!"> <img class="img02" href="mailto:luca@weblutions.com" src="https://cdn.pribilovic.net/u/qtrXBQ.png"></a>
            </center>
            <p class="text01">SUra Snotball</p>
            <p class="text02"><u>Customer Support</u></p>
            <p class="text03">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada quam vitae eros dictum vestibulum. Maecenas ac augue ipsum. Pellentesque euismod blandit leo. Curabitur ut feugiat sapien. Proin feugiat, velit a interdum imperdiet, elit massa malesuada sapien, eget bibendum augue turpis nec dui. Nulla in ultrices enim, ac commodo velit. Nunc id justo id orci bibendum euismod.</p>
        </div>
    </div>
</body>

<%- include('components/footer') %>