
<footer class="footer" style="background-color: rgba(240, 248, 255, 0);">
    <center>
        <p class="text03">© <%= new Date().getFullYear() %> E-Sports Online | Designed By <strong><a href="https://pribilovic.net" style="text-decoration: none; transition: .3s;" onmouseover="this.style.color='var(--primary)'" onmouseout="this.style.color='#FFF'" target="_blank">Luca</a></strong></p>
    </center>
    
</footer>
